<!-- <div class="container"> -->
	<!-- <table>
		<thead>
			<tr>
			<td>Id</td>
			<td>Registration</td>
			<td>Vin</td>
			<td>Make</td>
			<td>Model</td>
			<td>Color</td>
			<td>Type</td>
			<td>Category</td>
			<td>Status</td>
			</tr>
		</thead>
		<tbody>
		<tr ng-repeat="vehicle in inventory">
			<td>{{vehicle.id}}</td>
			<td>{{vehicle.registration}}</td>
			<td>{{vehicle.vin}}</td>
			<td>{{vehicle.make}}</td>
			<td>{{vehicle.model}}</td>
			<td>{{vehicle.color}}</td>
			<td>{{vehicle.type}}</td>
			<td>{{vehicle.category}}</td>
			<td>{{vehicle.status}}</td>
		</tr>
		</tbody>
	</table> -->
	<a ui-sref="addVehicle" class="btn-primary btn-lg nodecoration pull-right">+</a>
	
	   <div class="panel panel-info"  ng-repeat="vehicle in vehicles" >
        <div class="panel-heading">
            <h3 class="panel-title">
            <span class="label label-primary"> {{vehicle.make | uppercase}}  - {{vehicle.model | uppercase}} - {{ vehicle.color}} </span>
            
            
            
            <span class="label label-danger pull-right">{{vehicle.status}}</span>
            </h3>
        </div>
        <div class="panel-body">
        
        <img src="img/{{vehicle.type}}.png" alt="{{vehicle.type}}" class=" img-rounded">
        
        
        
        <td>vin:{{vehicle.vin}}</td>
	         <td>Make:{{vehicle.make}}</td>
	          <td>Model:{{vehicle.model}}</td>
	           <td>Type:{{vehicle.type}}</td>
	        <td>
        
        
        </div>
        
          <div class="panel-footer clearfix">
            <div class="pull-right">
            <a href="#" class="btn btn-primary"><i class="fa fa-usd" aria-hidden="true"></i>  Sell</a>
              <a ng-click="deleteVehicle(vehicle)" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a>
            	  <a href="#" class="btn btn-primary"><i class="fa fa-cogs" aria-hidden="true"></i> Service</a>
            	    <a href="#" class="btn btn-primary"><i class="fa fa-car" aria-hidden="true"></i> Rent</a>
                
                <a ui-sref="viewVehicle({id:vehicle._id})" class="btn btn-success"><i class="fa fa-eye" aria-hidden="true"></i> View</a>
            </div>
        </div>
    </div>
	   
	   
	   
	   
	


